<!DOCTYPE html>
<html>
    <head>
        <title>글쓰기</title>
    </head>
    <body>
        <form method="post" action="/boardwrite">
            <input type="text" name="id">
            <input type="text" name="content">
            <button type="submit">글쓰기</button>
        </form>
    </body>
</html>